@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import '../../node_modules/normalize.css/normalize';

.report-grid {
    display: grid;
    gap: 1em 1em;
    padding: 0 1em;
    grid-template-columns: 1fr 1fr 1fr;

    h1 {
        grid-column: span 3;
        justify-content: center;
    }
}

.kmom-grid {
    display: grid;
    gap: 1em 1em;
    grid-template-columns: 1fr 4fr;
    padding: 0 1em;
}

.report-box {
    grid-column: span 1;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    
    &.project {
        grid-column: span 3;
    }
}

.reportnav-box {
    grid-column: span 1;
}

.kmom-box {
    grid-column: span 1;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    
    &.project {
        grid-column: span 3;
    }

    a {
        text-decoration: underline;
    }
}

.kmombox a {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project,
    .report-grid h1 {
        grid-column: span 1;
    }

    .report-grid,
    .kmom-grid {      
        grid-template-columns: 1fr;
    }

    .report-box {
        grid-column: 1;
    }

    .reportnav-box { display: none; }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
