@import 'typography';
@import 'old';
@import 'base';
@import 'gallery';

$font-color: rgb(29, 27, 27);
$accent-color: rgba(217, 100, 70, 100);
$background-color: rgb(250, 250, 250);

* {
    font-family: 'Roboto', sans-serif;
}

.main {
    flex: 1 0 auto;
    background: $background-color;
}
