@import 'typography';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import '../../node_modules/normalize.css/normalize';
@import 'old';
@import 'layout';
@import 'footer';
@import 'base';

$font-color: rgb(29, 27, 27);
$accent-color: rgba(217, 100, 70, 100);
$background-color: rgb(250, 250, 250);

* {
    font-family: 'Roboto', sans-serif;
}

.main {
    flex: 1 0 auto;
    background: $background-color;
}